.vs/
NetCoreRestApi/.vs/
NetCoreRestApi/BusinessLayer/bin/
NetCoreRestApi/BusinessLayer/obj/
/NetCoreRestApi/ServiceLayer/bin/
/NetCoreRestApi/ServiceLayer/obj/
/NetCoreRestApi/WebAPI/bin/
/NetCoreRestApi/WebAPI/obj/
/NetCoreRestApi/WebAPI/WebAPI.csproj.user
/NetCoreRestApi/DataLayer/obj
/NetCoreRestApi/Common/bin/Debug/netcoreapp3.1
/NetCoreRestApi/Common/obj
/NetCoreRestApi/DataLayer/bin/Debug/netcoreapp3.1
